body{
    margin: 0
}


/*-------------HEADER---------------*/
.header{
    background-color: white;
}
.header-content{
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    
   
}
.h-logo{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    
}
.h-logo-shape{
    position: relative;
    padding-right: 0.5%;
}
.h-logo-leaf{
    position: absolute;
    top: 21%;
    left: 26%;
}
.h-logo-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
    font-weight: bold;
}
.navbar{
    
    display: flex;
   width: 40%;
   justify-content: space-evenly;
   padding-right: 15%;
}
.nav a{
    color: rgb(119, 119, 119);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}
.nav a:hover{
    color: rgb(35, 35, 35);
}

/*----------------Title section----------------*/
.Title{
    position: relative;
    background-image: url("media/Title-bg.png");
    background-size: cover;
    background-color: green;
    z-index: -1;
}
.Title-bg-layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.7);
    z-index: -1;
}

.Title-content{
    padding-top: 3%;
    text-align: center;
    color: white;
    padding-bottom: 10%;
}

.Title-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 400%;
    padding:0% 30% 0% 30%;
    margin-bottom: auto
}
.Title-sub{
    font-family: 'Montserrat', sans-serif;
    font-size: 105%;
    color: lightgray;
}
.Title-butbox{
    padding-top: 2%;
}
.Title-button{
    padding: 1% 2% 1% 2%;
    background-color: rgb(124, 197, 118);
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 30px;
}