body{
    margin: 0
}


/*-------------HEADER---------------*/
.header{
    background-color: white;
}
.header-content{
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    
   
}
.h-logo{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    
}
.h-logo-shape{
    position: relative;
    padding-right: 0.5%;
}
.h-logo-leaf{
    position: absolute;
    top: 21%;
    left: 26%;
}
.h-logo-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
    font-weight: bold;
}
.navbar{
    
    display: flex;
   width: 40%;
   justify-content: space-evenly;
   padding-right: 15%;
}
.nav a{
    color: rgb(119, 119, 119);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}
.nav a:hover{
    color: rgb(35, 35, 35);
}

/*----------------Title section----------------*/
.Title{
    position: relative;
    background-image: url("media/Title-bg.png");
    background-size: cover;
    background-color: green;
    z-index: 0;
}
.Title-bg-layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.7);
    z-index: -1;
}

.Title-content{
    padding-top: 3%;
    text-align: center;
    color: white;
    padding-bottom: 8%;
}

.Title-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 400%;
    padding:0% 30% 0% 30%;
    margin-bottom: auto
}
.Title-sub{
    font-family: 'Montserrat', sans-serif;
    font-size: 105%;
    color: lightgray;
}
.Title-butbox{
    padding-top: 2%;
}
.Title-button{
    padding: 1% 2% 1% 2%;
    background-color: rgb(124, 197, 118);
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 30px;
}

/*----------------SERVICES SECTION----------------*/
.Services-content{
    padding: 4% 0% 7% 0%;
    font-family: 'Montserrat', sans-serif;
}
.Services-header{
    text-align: center;
}
.Services-footer{
    text-align: center;
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
}
.Services-Title{
    width: 100%;
    font-size: 300%;
    margin-bottom: auto;
}
.Services-sub{
    font-size: 105%;
    color: gray;
}

.Services-column1-Title,.Services-column2-Title,.Services-column3-Title{
    font-size: 110%;
    font-weight: bold;
    margin-top: 6%;
}
.Services-column1-sub,.Services-column2-sub,.Services-column3-sub{
    font-size: 90%;
    margin: 0 23% 0 23%;

}

/*---------------------RELAX SECTION --------------------- */

.Relax-content{
padding: 5% 0 5% 0;
display: flex;

}
.gear{
    
    background-color: rgb(233, 233, 233);
    width: 30%;
    padding-top: 5%;
}
.gear-img{
    padding-left: 65%;
    z-index: -2;
    
}
.Relax-main{
    width: 70%;
    background-image: url(media/Relax-bg.png);
    background-size: cover;
     font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 0;
    padding: 5% 0 5% 6%;
    
}
.Relax-main-layer{
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}
.Relax-buttonbox{
    padding-top: 4%;
}
.Relax-button{
    padding: 1.5% 2.5% 1.5% 2.5%;
    background-color: rgb(124, 197, 118);
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 30px;
}
.Relax-main-title{
    font-size: 320%;
    color: white;
}
.Relax-main-sub{
    color: lightgray;
    padding-right: 60%;
}
.Relax-check1,.Relax-check2,.Relax-check3{
    color: lightgray;
    display: flex;
    padding: 0.5% 0 0.5% 0;
    align-items: center;
}
.checkbox{
    position: relative;
}
.check-imgbox{
    position: absolute;
    top: 20%;
    left: 25%;
}
.Relax-check1 > span{
    padding-left: 1%;
}
.Relax-check2 > span{
    padding-left: 1%;
}
.Relax-check3 > span{
    padding-left: 1%;
}

/*  PROJECT */
.Project{
    font-family: 'Montserrat', sans-serif;
}

.block1{
    float: left;
    padding: 0 0 0 5%;
    width: 45%;
}
.block2{
    width: 45%;
    float: right;
    padding: 2% 0 0 0;
}

.Project-header{
    text-align: center;
    padding-left: 5%;
    clear: both;
    
    
}
.Project-header-title{
    font-size: 300%;
    font-weight: bold;
}
.Project-header-sub{
    color: gray;
    font-size: 130%;
}

.center-content{
    padding:5% 0% 0% 20%
}
.center-header-p{
    font-size: 140%;
    font-weight: bold;
}
.center-header-sub{
    padding: 0% 30% 0% 0%;
    color: gray;
}
.project-icon{
    position: relative;
}
.project-icon-imgbox{
    position: absolute;
    top: 20%;
    left: 25%;
}
.laptop-imgbox{
    top: 25%;
    left: 22%;
}
.locked-imgbox{
    left: 30%;
}
.Project-icon1,.Project-icon2,.Project-icon3{
   display: flex;
}
.Project-icon-description{
    padding-left: 1%;
    margin: 0%;
}
.Project-icon-sub{
    color: gray;
}
.Project-icon-title{
    font-weight: bold;
    font-size: 110%;
}
.center-footer{
    padding:1% 30% 0 0;
    color: gray;
}
.center-footer p{
    color: green;
    font-weight: bold;
}